---
import Link from './Link.astro'
---

<footer
  class="mx-auto mb-8 flex w-full max-w-5xl flex-col items-center justify-center gap-y-2 px-4 sm:mb-4 sm:flex-row sm:justify-between"
>
  <div class="flex flex-wrap items-center justify-center gap-x-2 text-center">
    <span class="text-muted-foreground text-sm">
      &copy; {new Date().getFullYear()} All rights reserved.
    </span>
  </div>
</footer>
